body {
  font-family: Arial, sans-serif;
  background-color: lightblue;
}

header {
  background-color: purple;
  padding: 10px;
  display: flex;
  align-items: center;
}

header a {
  color: white;
  text-decoration: none;
  margin-right: 10px;
}

h1 {
  text-align: center;
  margin-top: 20px;
}

.instructions {
  text-align: center;
  font-weight: bold;
  font-style: italic;
}

.question {
  text-align: center;
  margin: 20px auto;
}

.choices {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
}

.choices button {
  margin: 5px;
  padding: 10px;
  background-color: red;
  color: white;
  cursor: pointer;
}

.choices button:hover {
  background-color: darkred;
}

.feedback p {
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.correct {
  background-color: green;
  color: white;
}

.incorrect {
  background-color: red;
  color: white;
}

#scoreFormContainer {
  text-align: right;
  margin-top: 20px;
}

#scoreForm label {
  font-weight: bold;
}

#scoreInput {
  padding: 5px;
  width: 50px;
}

footer {
  background-color: #f2f2f2;
  padding: 10px;
  text-align: center;
}

footer p {
  margin: 0;
}
