.header-bar {
    background-color: white;
    color: white;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header-links a {
    color: blue;
    margin-left: 10px;
    text-decoration: none;
  }

  a.start-quiz {
  color: red;
  text-decoration: none;
  font-weight: bold;
  position: absolute;
  top: 20px;
  right: 20px;
}

a.start-quiz:hover {
  text-decoration: underline;
}


  .content {
    background-image: url(https://github.com/obash-cpu/obash-cpu/blob/master/pictures/bright-education-logo-2AJ06MD.jpg?raw=true);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px;
  }
  
  .side-links {
    position: absolute;
    left: 10px;
    top: 100px;
  }
  
  .center-text {
    text-align: center;
  }
  
  .tagline {
    color: blue;
    font-weight: bold;
  }
  
  footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: right;
  }
  
  .author-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 10px;
  }
  
